server:
        port: 8082
cors:
  allowed-origins: "http://localhost:3001"

spring:
  application:
    name: Gateway  # ✅ Fixed indentation

  cloud:
    gateway:
     mvc:
      routes:
        # - id: emp-service  # ✅ Fixed ID name
        #   uri: http://localhost:8090/
        #   predicates:
        #     - Path=/emp/**
        #   filters:
        #     - RewritePath=/emp/(?<segment>.*), /myApplication/emp/${segment}  

        # - id: user-service  # ✅ Fixed ID name
        #   uri: http://localhost:8090/
        #   predicates:
        #     - Path=/api/**
        #   filters:
        #     - RewritePath=/api/(?<segment>.*), /myApplication/api/${segment}  
        - id: student-service  # ✅ Fixed ID name
          uri: http://localhost:8081/
          predicates:
            - Path=/api/**
    
        
              
# logging:
#    level:
#      org.springframework.cloud.gateway: TRACE
#      reactor.netty.http.client: TRACE

